<beans>
    <bean name="foo1" class="com.github.kerraway.ioc.factory.Foo">
        <property name="name" value="foo1"/>
    </bean>
    <bean name="foo2" class="com.github.kerraway.ioc.factory.Foo">
        <property name="name" value="foo2"/>
    </bean>
    <bean name="bar1" class="com.github.kerraway.ioc.factory.Bar">
        <property name="name" value="bar1"/>
        <property name="foo" ref="foo2"/>
    </bean>
</beans>